:root {
    --prim-color: #2d4654;    
    --sec-color: #4ca99c;  
    --tert-color: #e5cc76;   
    --quat-color: #f2b182; 
    --quin-color: #e07a6c;   
}

body {
    /*
    display: flex;
    flex-direction: column;
    */
    font-family: 'Montserrat', 'Roboto', 'Arial', sans-serif;
    font-weight: 600;
    margin: 0;
}


.site-header {
    background-color: var(--prim-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
  
}

.site-logo {
    color: var(--sec-color);
    font-size: 2rem;
    text-decoration: none; 
}


footer{
    background-color: var(--sec-color);
    color: var(--prim-color);
    text-align: center;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: var(--sec-color);
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}